<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <form>

    <div class="form-group">
      <h1 class="text-center text-primary">Intellipaat Demo App</h1>
      <img width="500" alt="Intellipaat Logo" src="/assets/logo.png">
      <div class="input-group-prepend">
           <!--<input type="text" class="form-control" placeholder="Add Course" name="Course">-->
          <input type="text" #course class="form-control" placeholder="Course Name" name="course" ngModel>
          {{course.value}}
          <button class="input-group-text"(click)="addCourse(course.value)">Add Course</button>

          <div class="data">

            <ul class="list-styled">
              <li *ngFor="let course of courseArray">{{course}}</li>
            </ul>
          </div>
      </div>
    </div>
  </form>
</div>